* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
}

.main-content{
    flex-grow: 1;
    height: 100vh;
    background-color: var(--dirty-white);
    padding: 20px 30px;
    color: var(--dark-grey);
    overflow-y: auto;
}

.main-content h1{
    font-family: 'Poppins', serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1100px;
    overflow-x: auto;
    margin-top: 10px;
    gap: 10px;
}

.search-section {
    display: flex;
    gap: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--white);
}

.search-bar i{
    font-size: 16px;
    margin-left: 10px;
    color: var(--yellow);
}

.search-bar input {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
}

.search-btn {
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
}

.refresh-btn {
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--shadow);
}

.department-dropdown {
    background-color: var(--white);
    color: var(--black);
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

.department-dropdown {
    position: relative;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.department-dropdown-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--shadow);
}

.department-dropdown-wrapper::after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--black);
}

.table-container {
    width: 100%;
    min-width: 1100px;
    overflow-x: auto;
    margin: 15px auto 20px;
    padding: 10px 10px 20px;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--white);
}

th {
    font-weight: bold;
    color: var(--dark-grey);
    text-transform: uppercase;
    border: none;
}

td {
    font-size: 14px;
    color: var(--dark-grey);
    border: 1px solid #e0e0e0;
}

tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

tr td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}

tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

.table-container i{
    padding: 5px;
    font-size: 16px;
}

/* NO DATA */
.no-data {
    margin-top: 20px;
    color: var(--light-grey);
}

.modal-container {
    background: var(--white);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    position: relative;
}

.modal-container h2 {
    margin-bottom: 30px;
    color: var(--dark-grey);
}

/* TASK FORM AND EDIT TASK FORM */
form {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

form textarea{
    resize: none;
    height: 150px;
}

.modal-buttons {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    gap: 10px;
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    transition: 0.3 ease-in-out;
}

/* BUTTON USED IN MODALS */
.modal-buttons button:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}

button[type="submit"] {
    background-color: var(--yellow);
    color: var(--black);
    transition: 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--orange);
}