* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Inter', sans-serif;
}

.main-content{
    flex-grow: 1;
    height: 100vh;
    background-color: var(--dirty-white);
    padding: 20px 30px;
    color: var(--dark-grey);
    overflow-y: auto;
}

.main-content h1{
    font-family: 'Poppins', serif;
}

.filter-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 1100px;
    overflow-x: auto;
    margin-top: 10px;
}

.left-section,
.right-section {
    display: flex;
    gap: 5px;
}

/* REFRESH BUTTON */
#refreshButton {
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--shadow);
}

/* SEARCH BAR */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--shadow);
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--white);
}

.search-bar i{
    font-size: 16px;
    margin-left: 10px;
    color: var(--yellow);
}

.search-bar input {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
}

#searchButton {
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
    transition: ease-in-out .3s;
}

#searchButton:hover {
    background-color: var(--orange);
    font-weight: bold;
}

/* DROPDOWN STATUS */
#statusDropdownFilter {
    background-color: var(--white);
    color: var(--black);
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

/* DROPDOWN SCHOOL */
#schoolDropdownFilter {
    background-color: var(--white);
    color: var(--black);
    padding: 10px 40px 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
}

/* DROPDOWN WRAPPER DESIGN (TO MAKE IT LOOK GOOD) */
.dropdown-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid var(--shadow);
}

.dropdown-wrapper::after {
    content: '\f078'; /* FONT AWESOME ARROW DOWN */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--black);
}

/* ASSIGN TASK BUTTON */
#assignTaskButton {
    background-color: var(--yellow);
    color: var(--black);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 525;
    cursor: pointer;
    border: none;
}

#assignTaskButton i {
    margin-right: 10px;
}

#assignTaskButton:hover {
    background-color: var(--orange);
    font-weight: bold;
}

/* TABLE TO DISPLAY TASKS */
.table-container {
    width: 100%;
    min-width: 1100px;
    overflow-x: auto;
    margin: 15px auto 20px;
    padding: 10px 10px 20px;
    border-radius: 10px;
    background-color: var(--white);/* Light background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--white);
}

th {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    border: none;
}

td {
    font-size: 14px;
    color: #666;
    border: 1px solid #e0e0e0;
}

td img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--shadow);
    object-fit: cover;
}

tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
}

tr td:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}

tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

/* ACTION BUTTON'S ICONS */
.table-container i{
    padding: 5px;
    font-size: 16px;
}

/* IF NO DATA IS RETRIEVE */
.no-data {
    margin-top: 20px;
    color: var(--light-grey);
}

/* ASSIGN TASK */
#assignTaskModal,
#editTaskModal {
    display: none;
    font-family: 'Inter', sans-serif;
}

#assignTaskModal .modal-container,
#editTaskModal .modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px;
}

#assignTaskModal .main,
#editTaskModal .main {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#assignTaskModal .left-container,
#assignTaskModal .right-container,
#editTaskModal .left-container,
#editTaskModal .right-container {
    display: flex;
    flex-direction: column;
}

#assignTaskModal input[type="text"],
#assignTaskModal input[type="datetime-local"],
#assignTaskModal input[type="file"],
#assignTaskModal textarea,
#editTaskModal input[type="text"],
#editTaskModal input[type="datetime-local"],
#editTaskModal input[type="file"],
#editTaskModal textarea {
    width: 350px;
}

#customDateTimeContainer {
    display: none;
    flex-direction: column;
}

.radio-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

#customDateTimeContainer {
    margin-left: 10px;
}

/* VIEW TASK MODAL */
#detailsModal {
    display: none;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

#detailsModal .modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 20px;
    padding: 50px;
    max-width: 750px;
}

.task-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 15px;
}

.modal-buttons {
    display: flex;
    justify-content: right;
    margin-top: 15px;
    gap: 10px;
}

.modal-buttons button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    transition: 0.3 ease-in-out;
}

/* PAGE CONTROLER FOR TABLE */
.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    color: var(--black);
    display: inline-block;
    background-color: var(--white);
    width: 35px;
}

.pagination a.active {
    background-color: var(--orange);
    color: var(--white);
    font-weight: bold;
    border: none;
}

.pagination span {
    padding: 8px 12px;
    font-weight: bold;
}

/* FORM INPUTS */
.modal-container h2 {
    margin-bottom: 30px;
    color: var(--dark-grey);
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
}

form input,
form select,
form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

form textarea{
    resize: none;
    height: 150px;
}

/* BUTTON USED IN MODALS */
.modal-buttons button:hover {
    background-color: var(--dark-grey);
    color: var(--white);
}

button[type="submit"] {
    background-color: var(--yellow);
    color: var(--black);
    transition: 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--orange);
}